/* ========================================== */
/* CSS for control sap.ui.commons/MenuButton  */
/* base theme                                 */
/* ========================================== */

.sapUiMenuButtonIco {
	margin-left: 3px;
	display: inline-block;
	background-repeat: no-repeat;
	width: 5px;
	height: 5px;
}