/* ================================================ */
/* CSS for control sap.ui.commons/TriStateCheckBox  */
/* base theme                                       */
/* ================================================ */

.sapUiTriCb {
	line-height: @sapUiLineHeight;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}

/* If control is used on black/dark background */
.sapUiInverted-CTX .sapUiTriCb {
	color: @sapUiTextInverted;
}

/* Do not invert for table */
.sapUiInverted-CTX .sapUiTable .sapUiTriCb {
	color: var(--sapTextColor);
}

.sapUiTriCbInner {
	height: 11px;
	width: 11px;
	display: inline-block;
	vertical-align: text-bottom;
	background-image: none;
	background-position: -2px -2px;
	border: 2px solid @sapUiMediumBorder;
	background-color: @sapUiWhiteBG;
	background-repeat: no-repeat;
}

.sapUiTriCbInner.sapUiTriCbCheck,
.sapUiTriCbInner.sapUiTriCbMix {
	background-image: url('img/TriStateCheckBox.png');
}

.sapUiTriCbInner.sapUiTriCbMix {
	background-position: -2px -17px;
}

.sapUiTriCbErr.sapUiTriCbCheck {
	background-position: -32px -2px;
}

.sapUiTriCbErr.sapUiTriCbMix {
	background-position: -32px -17px;
}

.sapUiTriCbWarn.sapUiTriCbCheck {
	background-position: -47px -2px;
}

.sapUiTriCbWarn.sapUiTriCbMix {
	background-position: -47px -17px;
}

.sapUiTriCbRo.sapUiTriCbCheck {
	background-position: -17px -2px;
}

.sapUiTriCbRo.sapUiTriCbMix {
	background-position: -17px -17px;
}

.sapUiTriCb:hover > .sapUiTriCbInner {
	border: 2px solid var(--sapHighlightColor);
}

.sapUiTriCb:hover > .sapUiTriCbRo {
	border: 2px solid @sapUiMediumBorder;
}

.sapUiTriCbErr {
	background-color: var(--sapField_InvalidBackground);
	border: 2px solid var(--sapField_InvalidColor);
}

.sapUiTriCbWarn {
	background-color: var(--sapField_WarningBackground);
	border: 2px solid var(--sapField_WarningColor);
}

.sapUiTriCb:hover > .sapUiTriCbWarn.sapUiTriCbRo {
	border: 2px solid var(--sapField_WarningColor);
}

.sapUiTriCb:hover > .sapUiTriCbErr.sapUiTriCbRo {
	border: 2px solid var(--sapField_InvalidColor);
}

.sapUiTriCbDis, .sapUiTriCb:hover .sapUiTriCbDis {
	opacity: 0.5;
	border: 2px solid @sapUiMediumBorder;
}

.sapUiTriCbRo,
.sapUiTriCb:hover > .sapUiTriCbRo {
	background-color: var(--sapField_ReadOnly_Background);
}

.sapUiTriCbLbl {
	margin-left: 6px;
}