pre.hljs.cardExplorerSnippet {
	color: #4d4d4c;
	scrollbar-color: transparent transparent;
	background: #fff;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	tab-size: 4;
	font-size: 0.85rem;
	transition: height 0.3s ease-out;

	&[data-caption] {
		margin-top: 2.8rem;
		box-sizing: border-box;
		max-width: 950px;
	}

	&[data-caption]::before {
		background: #e4e4e4;
		content: attr(data-caption);
		position: absolute;
		font-family: var(--sapFontFamily);
		z-index: 1;
		font-size: 0.9rem;
		padding: 0.2rem 1rem;
		border-radius: 3px 3px 0 0;
		max-width: 948px;
		box-sizing: border-box;
		margin: -2.6rem -1.1rem;
	}

	&.collapsed[data-caption] {
		height: 0rem;
		padding: 0;
	}

	&.collapsed[data-caption]::before,
	&.expanded[data-caption]::before {
		color: rgb(32, 88, 155);
	}

	&.collapsed[data-caption]:hover::before,
	&.expanded[data-caption]:hover::before  {
		color: rgb(60, 121, 196);
	}

	&.collapsed[data-caption]::before {
		margin: -1.8rem -1px 0rem;
	}

	&:not(.collapsed) {
		padding: 0.8rem 1.1rem
	}

	&:hover {
		scrollbar-color: var(--sapUiChartScrollbarBorderColor, rgba(148, 148, 148, 0.4)) transparent;
	}

	mark {
		background-color: rgb(233, 243, 252);
	}

	.hljs-attr,
	.hljs-string,
	&.properties .hljs-string,
	&.lang-properties .hljs-string {
		color: #4a1283;
	}

	.hljs-literal,
	&.javascript .hljs-keyword,
	&.lang-js .hljs-keyword {
		color: #2b64ae;
	}

	&.xml .hljs-attr,
	&.lang-xml .hljs-attr {
		color: #718c00;
	}

	&.xml .hljs-string,
	&.lang-xml .hljs-string {
		color: #8959a8;
	}

	&.xml .hljs-name,
	&.xml .hljs-tag,
	&.lang-xml .hljs-name,
	&.lang-xml .hljs-tag {
		color: #243cc5;
	}

	&.javascript .hljs-built_in,
	&.lang-js .hljs-built_in,
	&.xml .javascript .hljs-built_in,
	&.lang-xml .javascript .hljs-built_in,
	&.properties .hljs-string,
	&.lang-properties .hljs-string {
		color: #88760b;
	}

	&.javascript .hljs-comment,
	&.lang-js .hljs-comment {
		color: #92b019;
	}

	&.properties .hljs-attr,
	&.lang-properties .hljs-attr {
		color: #6c6c5b;
	}
}