/* ==================================== */
/* CSS for control sap.m/SliderTooltip  */
/* Fiori 3 theme                        */
/* ==================================== */

/* Slider Tooltip styles          */

.sapMSliderTooltip {
	background: var(--sapGroup_ContentBackground);
	border-radius: 0.0625rem;
	border: none;
	box-shadow: var(--sapContent_Shadow1);
	min-width: 2rem;
	padding: 0.25rem;
	font-size: var(--sapFontSmallSize);
	color: var(--sapContent_LabelColor);
}

.sapMSliderTooltipInput {
	font-size: @sapMFontMediumSize;
	color: var(--sapField_TextColor);
}

.sapMSliderTooltip:has(.sapMSliderTooltipInput:focus) {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapField_Active_BorderColor);
	outline-offset: -.1875rem;
}

.sapMSliderTooltip.sapMSliderTooltipErrorState:has(.sapMSliderTooltipInput:focus) {
	outline-offset: -.25rem;
}

.sapMSliderTooltipErrorState .sapMSliderTooltipInput {
	background: var(--sapField_InvalidBackground);
}

.sapMSliderTooltip.sapMSliderTooltipNonEditableWrapper {
	border-radius: 0.0625rem;
	height: 1rem;
	padding: 0.25rem;
	font-size: var(--sapFontSmallSize);
	color: var(--sapContent_LabelColor);
}